h1 {
    color: rgba(38, 0, 255, 0.612);
    font-size: 2.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0;
    margin-bottom: 20px;
  }
  h2 {
    color: rgba(169, 125, 94, 0.612);
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  p {
    color: rgba(149, 0, 255, 0.772);
    padding: 5px;
    background: rgba(37, 18, 145, 0);
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin-bottom: 12px;
  }

body {
    background-color: lightgray;
    font-size: larger;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;

  }

img {
    width: 100%;
    height: auto;
}

video {
    width: 100%;
    height: auto;
}
